@model IOT_Integration_For_Vital_Signs_Monitoring_System.Models.Patients

<div class="form-container">
    <h2>Add Patients Vital Data</h2>
    <a href="/Home" class="back-btn">← Back to List</a>

    <form asp-action="AddData" method="post" class="custom-form">
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="LastName" />
        <input type="hidden" asp-for="Gender" />
        <input type="hidden" asp-for="Birthdate" />
        <input type="hidden" asp-for="Address" />
        <input type="hidden" name="ProfileImage" accept="image/*" />

        <!-- Add Vital Data -->
        <label>Weight:</label>
        <input type="number" asp-for="Weight" /> Kg.

        <label>Height:</label>
        <input type="number" asp-for="Height" /> cm.

        <label>Temperature:</label>
        <input type="number" asp-for="Temperature" /> °C

        <label>Systolic:</label>
        <input type="number" asp-for="Systolic" /> <br />
        <span asp-validation-for="Systolic" class="error-message"></span>

        <label>Diastolic:</label>
        <input type="number" asp-for="Diastolic" />
        <span asp-validation-for="Diastolic" class="error-message"></span>

        <input type="hidden" asp-for="ProfileImagePath" />

        <button type="submit" class="action-btn submit">Save Changes</button>
    </form>
</div>
