@model IOT_Integration_For_Vital_Signs_Monitoring_System.Models.Patients

<div class="form-container">
    <h2>Delete Student Data</h2>

    <p>Are you sure you want to delete <strong>@Model.Name @Model.LastName</strong>?</p>

    <form asp-action="Delete" method="post" class="custom-form">
        <input type="hidden" asp-for="Id" />

        <div class="action-buttons">
            <button type="submit" class="action-btn delete">Yes</button>
            <a href="/Home" class="action-btn cancel">Cancel</a>
        </div>
    </form>
</div>

