<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IOT_Integration_For_Vital_Signs_Monitoring_System</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IOT_Integration_For_Vital_Signs_Monitoring_System.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="custom-navbar">
                <div class="custom-navbar-container">
                    <a class="custom-navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        IOT Integration For Vital Signs Monitoring System
                    </a>

                    <div class="custom-navbar-links">
                        <a class="custom-navbar-link" href="/Identity/Account/Logout">🔒 Logout</a>
                        <a class="custom-navbar-link" asp-area="" asp-controller="Home" asp-action="Create">➕ Register New Patient</a>
                    </div>
                </div>
            </nav>
        }
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="custom-footer">
        <div class="custom-footer-container">
            &copy; 2025 - IOT_Integration_For_Vital_Signs_Monitoring_System<br />
            <span>Designed by <strong>Christian Bagatua</strong></span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
